{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit the Article</h1>

    <hr>

    <div style="display:flex;">
        <div>
            <h3>Details</h3>
            {{ include('article/_form.html.twig', {articleForm}) }}
        </div>
        <div>
            <h3>References</h3>

            <ul class="js-reference-list" data-url="{{ path('admin_article_references', {id: article.id}) }}"></ul>

            <form
                    action="{{ path('admin_article_add_reference', {id: article.id}) }}"
                    method="post"
                    enctype="multipart/form-data"
                    class="dropzone js-reference-dropzone"
            ></form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;

        document.addEventListener('DOMContentLoaded', () => {
            const referenceList = new ReferenceList(document.querySelector('.js-reference-list'));
            initializeDropzone(referenceList);
        });

        /**
         * @param {ReferenceList} referenceList
         */
        function initializeDropzone(referenceList){
            const formElement = document.querySelector('.js-reference-dropzone');

            if(!formElement){
                return;
            }

            new Dropzone(formElement, {
                paramName: 'reference',
                init: function(){
                    this.on('success', (file, data) => {
                        referenceList.addReference(data);
                    });

                    this.on('error', (file, data) => {
                        if(data.message){
                            this.emit('error', file, data.message);
                        }
                    });
                }
            });
        }

        class ReferenceList
        {
            constructor(element){
                this.element = element;
                this.references = [];
                this.render();

                fetch(this.element.dataset.url)
                    .then(response => response.json())
                    .then(references => {
                        this.references = references;
                        this.render();
                    })
                ;
            }

            render(){
                const itemsHtml = this.references.map(reference => {
                    return `
<li class="list-group-item d-flex justify-content-between align-items-center" data-id="${reference.id}">
    <input type="text" value="${reference.originalFilename}" class="js-edit-filename">
    <span>
        <a href="/admin/article/references/${reference.id}/download">Download</a>
        <button class="js-reference-delete">Delete</button>
    </span>
</li>
`
                });

                this.element.innerHTML = itemsHtml.join('');

                this.element.querySelectorAll('.js-reference-delete').forEach(el => {
                    el.addEventListener('click', evt => this.handleReferenceDelete(evt));
                });

                this.element.querySelectorAll('.js-edit-filename').forEach(el => {
                    el.addEventListener('blur', evt => this.handleEditFilename(evt));
                });
            }

            addReference(reference){
                this.references.push(reference);
                this.render();
            }

            handleReferenceDelete(evt){
                const li = evt.target.closest('li');
                const id = li.dataset.id;
                li.style.opacity = 0.5;
                fetch('/admin/article/references/'+id, {
                    method: 'DELETE'
                })
                    .then(() => {
                        this.references = this.references.filter(reference => reference.id != id);
                        this.render();
                    });
            }

            handleEditFilename(evt){
                const li = evt.target.closest('li');
                const id = li.dataset.id;
                const reference = this.references.find(reference => reference.id == id);

                reference.originalFilename = evt.target.value;

                fetch('/admin/article/references/'+id, {
                    method: 'PUT',
                    body: JSON.stringify(reference)
                });
            }
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}